@use 'src/styles/vars' as v;

.weather {
  background-color: v.$medium-color;
  min-height: 20%;
  border-radius: 25px;
  // border: 1px solid v.$darker-color;
  &__title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2em;
  }
  &__temp {
    // margin-top: v.$s-gut;
    text-align: center;
    font-size: 1.2rem;
  }
  &__name {
    // margin-top: v.$s-gut;
    text-align: center;
    font-size: 1.2rem;
  }
  &__icon {
    display: inline-block;
    width: 3em;
    background-color: v.$light-color;
    border-radius: 15px;
  }
  &__detail {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1em;
  }
}
