@use 'src/styles/vars' as v;

.garden {
  font-family: "Chilanka";
  width: 80%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__left {
    width: 45%;
    min-width: 350px;
  }
  &__right {
    width: 45%;
    min-width: 350px;
  }
}
