@use 'src/styles/vars' as v;

.description{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Chilanka";
  font-size: 0.8rem;
  &-title{
    color: v.$darker-color;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: v.$l-gut;
   
  }

  &-content{
    color: v.$darker-color;
    margin: v.$xs-gut 0;
    
  }

  &-list{
    margin-left: v.$l-gut;
    li{
      list-style: url('https://img.icons8.com/officel/16/000000/cute-pumpkin.png')
    }
  }

}

@media screen and (min-width:640px){
  .description{
    font-size: 1rem;
  }

}
