@use 'src/styles/vars' as v;

.operation {
  
  background-color: v.$medium-color;
  height: 70%;
  border-radius: 25px;
  margin-bottom : v.$xs-gut;
  margin-top: v.$xs-gut;
  
  // border: 1px solid v.$darker-color;
  &__title {
    margin-top: v.$s-gut;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2em;
  }
}

@media screen and (max-width:800px){
  .operation {
    margin-top: 0.5rem;
  }
}
