@use 'src/styles/vars' as v;


.homevideo {

  // margin: 0 auto;
}

.homevideo iframe{

  display: block;
  width: 300px;
  height: 169px;
  margin: 0 auto;
  
 }

 @media screen and (min-width:640px){
  .homevideo{
    // padding-bottom:300px;  // to set according to real video height
    
   }
  .homevideo iframe {
    // left:calc(50%-320px);  // to set according to real video width
    width: 480px;
    height: 270px;
    
   }

 }

 @media screen and (min-width:1000px){
  .homevideo{
    // padding-bottom:300px;  // to set according to real video height
   }
  .homevideo iframe {
    // left:calc(50%-320px);  // to set according to real video width
    width: 960px;
    height: 540px;
   }

 }
