@use 'src/styles/vars' as v;


.homevideo {

}

.homevideo iframe{

  display: block;
  width: 300px;
  height: 169px;
  margin: 0 auto;
  
 }

 @media screen and (min-width:640px){
  .homevideo{
    
   }
  .homevideo iframe {
    width: 480px;
    height: 270px;
    
   }

 }

 @media screen and (min-width:1000px){
  .homevideo{
   }
  .homevideo iframe {
    width: 960px;
    height: 540px;
   }

 }
